{% extends "base.html" %}

{% block content %}

<center>
    <div class="container container-fluid">
        <div class="row d-flex flex-row justify-content-around">
            <div >
                <h1>Oops! Page not found.</h1>
                <p>The page you requested does not exist. Here are some helpful links:</p>
                <div>
                    <span><a href="/" class="btn">Home</a></span>
                    <span><a onclick="window.history.back()" class="btn"><i class="fa fa-refresh"></i>Return</a></span>
                </div>
            </div>
        </div>
    </div>
</center>
        
{%endblock%}
