{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <div class="container container-fluid text-center">
        <div class="row d-flex flex-row justify-content-around">
            <div class="col">
                <h1>Oops! Page not found.</h1>
                <p>The page you requested does not exist. Here are some helpful links:</p>
                <div>
                    <span><a href="/" class="btn">Home</a></span>
                    <span><a onclick="window.history.back()" class="btn"><i class="fa fa-refresh"></i>Return</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
        
{%endblock%}
