{% extends 'base.html' %}
{% block title %}Add New Blog Post{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<center><h1>Add Post</h1></center>
<div class="row add-post-form" style="background-image: url('https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="form-group" style="margin: 20px;padding:px">
            <div class="col-12 bg-light">
                {% if msg %}
                <script>Swal.fire("{{msg}}");</script>
                {% endif %}
                <form class="d-block container" enctype="multipart/form-data" style="background-color: #05668D;color:#FFFFFF" action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="form-control btn btn-success" value="Post">
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h1>Admin priviledges required!</h1><br><br>
    click <a href="{% url 'account_login' %}"><strong>Login</strong></a>
</div>
{% endif %}

{% endblock content %}